
<!doctype html>
<html>
<head>
  <title>Student Management System</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Student Directory</h1>
  <p>Welcome to the student directory.</p>
  <p>Click <a href="/">here</a> to return to the main page.</p>
  <ol>
    <% @studentsCampus.each do |student| %>
      <li><%= student['campus'] %>, <%= student['name'] %></li>
    <% end %>
  </ol>

</body>
</html>