.image-wrapper {
  position: relative;
  display: block;
  width: 400px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  border: 3px solid #73AD21;
}

.puss {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;
} 

#glasses {
  position: absolute;
  left: 138px;
  top:207px;
}


#hat {
  position: absolute;
  top: 30px;
  left: 78px;
}